.NavBarItems {
  background-color: #3bb78f;
  background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);

  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  background-color: #0bab64;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 10px;
  text-align: center;
  list-style: none;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-bar {
  background-color: #5bc5a7 !important;
}

.fa-react {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.col-dashboard {
  padding: 0px;
}
