.recent-activity-heading {
  padding: 0px !important;
}

.list-recent-activity {
  width: 87vw;
  margin-left: 15px;
  height: 30vh;
}

.scroll {
  overflow: overlay;
  height: 70vh;
  margin-right: 5px;
  width: 87.5vw;
  overflow-x: hidden;
}

.groupLayout {
  overflow-x: hidden;
}

.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #2b2eff;
  color: #2b2eff;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: #2b2eff;
}

.paginationActive a {
  color: white;
  background-color: #2b2eff;
}
